[submodule "apps/website"]
	path = apps/website
	url = https://github.com/Abdlehakim/facturance-website.git
[submodule "apps/client-dashboard"]
	path = apps/client-dashboard
	url = https://github.com/Abdlehakim/facturance-client-dashboard.git
[submodule "apps/admin-dashboard"]
	path = apps/admin-dashboard
	url = https://github.com/Abdlehakim/facturance-admin-dashboard.git
[submodule "apps/desktop-app"]
	path = apps/desktop-app
	url = https://github.com/Abdlehakim/facturance-desktop-app.git
[submodule "apps/mobile-app"]
	path = apps/mobile-app
	url = https://github.com/Abdlehakim/facturance-mobile-app.git
[submodule "services/auth-api"]
	path = services/auth-api
	url = https://github.com/Abdlehakim/facturance-auth-api.git
[submodule "services/client-api"]
	path = services/client-api
	url = https://github.com/Abdlehakim/facturance-client-api.git
